<a href="/">Home</a>

<div class="container">
  <h1>Please give your information!</h1>
  <p>Thank you!</p>

 <form action="/create_new_account" method="POST" id="sign_in">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="user[username]">
    <br>
    <br>
    <label>Password</label>
    <input type="password" placeholder="Password" name="user[password]">
    <br>
    <br>
    <label>Password Confirmation</label>
    <input type="password" placeholder="Password Confirmation" name="user[password_confirmation]">
    <br>
    <br>
    <input type="submit" value="Submit">
</div>
