<a href="/">Home</a>

<div class="container">
  <h1>Please give your login information!</h1>
  <p>Thank you!</p>

 <form action="/sign_in" method="POST" id="sign_in">
    <label>Username</label>
    <input type="text" placeholder="Username" name="user[username]">
    <br>
    <br>
    <label>Password</label>
    <input type="password" placeholder="Password" name="user[password]">
    <br>
    <br>
    <input type="submit" value="Submit">
</div>
