<div class="container">
  <h1>Please give your login information!</h1>
  <p>Thank you!</p>

 <form action="/user/sign_in" method="POST" id="sign_in">
    <span class="input-group-addon">Email</span>
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="user[username]">
  </div>
  <div class="input-group input-group-lg edit-form">
    <label>Password</label>
    <input type="password" placeholder="Password" name="user[password]">
  </div>
</div>
